<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  layout:decorate="~{layout}">
    <head>
    </head>
    <body>
        
        <main layout:fragment="main">
            <p th:if="${error != null}" th:text="${error}" style="color: red;"></p>
            <p th:if="${logout != null}" th:text="${logout}" style="color: green;"></p>
            <section th:replace="layout :: sobre-nosotros"></section>
            <section th:replace="layout :: portfolio"></section>
        </main>
        
        </body>
</html>